{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="grid">
          {% for listing in listings %}
          <div class="grid-item">
            <br>
            <a href="{% url 'listing_page' id=listing.pk %}">{{ listing.title }}</a>
            <br>
            {% if listing.image_url %}
            <img src={{listing.image_url}} alt="pic" width=50%></img>
            {% endif %}
            <li>Current Price: ${{ listing.current_price }}</li>
            <li>Category: {{ listing.category }}</li>
            <li>Description: {{ listing.description }}</li>
            <br>
            Created {{ listing.creation_time }}
           </div>
          {% endfor %}
      </div>

{% endblock %}
