{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Listings</h2>
      {% for listing in listings %}
      <br>
        <a href="{% url 'listing_page' id=listing.pk %}">{{ listing.title }}</a>
        <br>
        {% if listing.image_url %}
          <img src={{listing.image_url}} alt="pic" width=25%></img>
        {% endif %}
        <li>Price: ${{ listing.current_price }}</li>
        <li>Category: {{ listing.category }}</li>
        <form action="{% url 'close_listing' id=listing.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Close Listing">
        </form>
      {% endfor %}

{% endblock %}
